<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Configuration</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="user config"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>

    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

</head>

<body>

<h2>User List</h2>
<div>
    <ul>
        <li  th:each="user:${users}">

            <span th:text="${user.username}"></span> - <a th:href="@{'/deluser?id=' + ${user.id}}">Delete</a>
        </li>
    </ul>
</div>

<form method="post" action="/adduser">
    <input type="text" name="username" value=""></input>
    <p><input type="submit" value="add user"/></p>
</form>

</body>
</html>